// * SECTION Colors
$body: #2F323A;
$element: #434853;
$primary: #43AA8B;
$accent: #C05746;
$text: #F2F7F2;

* {
    box-sizing: border-box;
}

body {
    background: $body;
    color: $text;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Squada One', cursive;
}

a {
    text-decoration: none;
    color: $text;
}

// * SECTION Utils
@import './utils/reset';
@import './utils/wrapper';

// * SECTION Components
@import './components/header';
@import './components/hero';