.u-wrapper {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    
    // &--mini {
    //     max-width: 73%;
    // }

    // &--projects {
    //     // border: 2px solid goldenrod;
    //     height: 100%;
    // }

    // @include iphone-8 {
    //     &--mini {
    //         max-width: 90%;
    //     }
    // }
}