.c-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        color: $accent;
        font-size: 2em;
        font-weight: bold;
    }

    &__list {
        list-style: none;
        display: flex;
    }

    &__list-item {
        margin-left: 20px;
        font-weight: bold;
    }

    &__link {
        &:hover {
            color: $primary;
        }
    }

    @include ipad {
        justify-content: center;

        &__logo {
            font-size: 2.5em;
        }
        
        &__nav {
            display: none;
        }
    }

    @include iphone-8 {
        font-size: 12px;
    }
}