.c-section {

    &__title {
        font-size: 3em;
        text-align: center;
    }

    &__description {
        font-size: 1.2em;
        text-align: center;
    }

    @include iphone-8 {
        font-size: 12px;
    }
}